<div>
  <%= form_with model: [book, book_comment] do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", class: "w-100" %><br>
  <%= f.submit "送信" , class: "btn btn-lg btn-base-1 mt-20 pull-right"%>
  <% end %>
</div>