<div class='container px-5 px-sm-0'>
  <%= render 'layouts/errors', obj: @group %>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>Editing Book</h1>
  		<%= render "form", group: @group %>
		</dev>
  </div>
</div>