<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <%= render 'layouts/errors', obj: @group %>
      <h2>Create Group</h2>
      <%= render "form", group: @group %>
    </div>
  </div>
</div>
